
ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: center;
    padding: 0;
    margin: 0;
}

li a {
    font-family: 'Bangers', cursive;
    font-size: 20px;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {

    background-color: #c8c8c8;
}
.navegacion
{
    margin: 0 auto;
    padding: auto;
    width: 100%;
}
.navegacion, #footer
{
    text-align: center;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    background-image: radial-gradient(circle at 4.55% -4.17%, #a2a6ff 0, #798ffc 25%, #3c78f2 50%, #0063e8 75%, #0051df 100%);;
    border-radius: 10px;
}
.center h2{
    text-align: center;
    padding: 0 0 20px 0;
    color: white;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
    
}
form .txt{
    position: relative;
    border-bottom: 2px solid ;
    margin: 30px 0;
   
}
.txt input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline:none;
}
.txt label{
    
    top: 50%;
    left: 5px;
    font-size: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
}
.txt span::before{
  content: "";
  position: absolute;
  top:40px;
  left:0px;
  width: 100%;
  height: 2px;
  background: #798ffc;
}
.txt input:focus ~ label,
.txt input:valid ~ label{
 top: -5px;
 color: aqua;
}
